.buy-ticket-button {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: 600;
    background: linear-gradient(135deg, #545fff, #581be6);
    border: none;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    bottom: 10px;
}

.going-button {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: 600;
    background: linear-gradient(135deg, #ffd854, #ffa632);
    border: none;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    bottom: 10px;
}

.buy-ticket-button:hover,
.going-button:hover {
    background: linear-gradient(135deg, darken(#ffd854, 10%), darken(#ffa632, 10%));
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.buy-ticket-button:active,
.going-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.buy-ticket-button:focus,
.going-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 216, 84, 0.5);
}

.details-button {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: 600;
    background: linear-gradient(135deg, #ffd854, #ffa632);
    border: none;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    bottom: 10px;
}

.details-button:hover {
    background: linear-gradient(135deg, darken(#ffd854, 10%), darken(#ffa632, 10%));
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.details-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.details-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 216, 84, 0.5);
}
