.page-container-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* 100% of the viewport height */
}

.container-detail {
    width: 100%;
    max-width: 1200px;  /* Adjust maximum width as necessary */
    padding: 20px;
    background-color: #ffffff;  /* A white background for the container */
    border-radius: 10px;  /* Rounded corners */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);  /* A subtle shadow */
    height: 200%;
}

.card-grid-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card-detail {
    display: flex;
    flex-direction: row;  /* Makes content flow from left to right */
    align-items: flex-start;  /* Align items to the top of the card */
    width: 100%;
    padding: 15px;
    border: 1px solid #e1e1e1;  /* A light border around the card */
    border-radius: 10px;  /* Rounded corners */
}

.card-img-top-detail {
    flex: 0 0 30%;  /* The image takes up 30% of the card's width */
    max-width: 30%;  /* Ensures the image doesn't stretch beyond 30% */
    height: auto;
    margin-right: 20px;  /* A margin to separate the image from the details */
    border-radius: 10px;  /* Rounded corners for the image */
}

.card-body-detail {
    flex: 1;  /* Takes up the rest of the card's width */
    display: flex;
    flex-direction: column;  /* Stacks the details vertically */
    justify-content: center;  /* Centers the details vertically */
}

.card-title-detail {
    font-size: 24px;
    margin-bottom: 15px;  /* Space between the title and the details */
}

.card-text-detail {
    margin-bottom: 10px;  /* Space between each line of details */
    font-size: 16px;  /* Adjust as needed */
}


/* EventDetail.css */
.map-button {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: 600;
    background: linear-gradient(135deg, #447769, #57b8bf); 
    border: none;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  
  .map-button:hover {
    background: linear-gradient(135deg, #4cafa0, #4a95a7); 
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  
  .map-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  .map-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 216, 84, 0.5);
  }
  