/* Profile.css */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;  /* original setting */
  justify-content: flex-start; /* original setting */
  height: calc(100vh - 50px);
  background-color: #f2f2f2;
  background-image: none;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.user-info {
  top: 0;  
  left: 50%;  
}



  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    background-size: cover;
    margin-bottom: 10px;
    align-self: flex-start;
  }
  .page-container {
    padding-top: 10px;
    align-self: flex-start;
}
  
  .default-circle {
    /* Add default background styles here */
    background-color: #d8d8d8; /* Example: Set a default background color */
    /* background-image: url('path/to/default-image.jpg'); */ /* Example: Set a default background image */
  }
  
  
  .top-left {
    position: absolute;
    top: 0;
    left: 20px;
    padding: 20px;
  }
