.footerposition {
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  
}

.text-center .p-3{
  background-color: rgba(32, 8, 32, 0.3) !important;  
  transform: none!important;    /* If the button scales or changes size due to a transform */
  border: none!important;  
}


.m-1 {
  width: 50px!important;             
  height: 40px!important;
  max-height: 40px!important;               
  transform: none!important;         
  box-sizing: border-box!important;   
}


.go-top {
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #141688;
  border-radius: 3px;
  color: #fff;
  border: 0;
}

.go-top:before {
  width: 13px;
  height: 13px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  content: '';
  border-style: solid;
  border-color: #fff;
  border-width: 1px 1px 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -6px;
}

.go-top:hover {
  background: #f41a1a;
}