.city-events-section {
    padding: 20px;
    max-width: 1200px; /* Adjust as needed */
    margin: 20px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distributes the items evenly */
    flex-grow: 1;  /* Allows the section to grow if there's space */
    flex-shrink: 1; /* Allows the section to shrink if needed */

  }
  
  .city-events-section ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .city-events-section li {
    flex: 0 0 calc(50% - 20px); /* Makes it so 5 items fit in a row with a little margin */
    margin: 10px;
    padding: 10px;
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;

  }
  
  .city-events-section .event-city {
    font-weight: 600;
    color: #00b600;
    display: block;
  }
  
  .city-events-section .event-name {
    display: block;
    margin: 8px 0;
    font-weight: 500;
  }
  
  .city-events-section .event-date {
    font-style: italic;
    color: #888;
    display: block;
  }

  .event-name {
    max-height: 50px; /* Adjust as per your needs */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Ensure title stays in a single line */
    width: 90%; /* Adjust width as per your design */
    margin: auto;
}



  