.page-container-month{
    margin-top: 50px;
    position: relative;
    padding-bottom: 300px;
}

.container-month{
    max-width: 1400px;
    margin: auto;
}

.container-week.one-month{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section-title-month{
    color: white;
    padding-left: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    width: 110%;
    height: 100px;
}

.card-grid-month{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.card-month{
    background: #fff;
    padding: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    border-radius: 1rem;
    min-height: 170px;
    transition: all ease 0.3s;
    overflow: hidden;
    position: relative;
    width: 400px;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-week:hover {
    transform: translateY(-6px);
}

.card-img-top-month{
    aspect-ratio: 500 / 320;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
    max-height: 320px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.card-body-month{
    color: #676767;
    width: 100%;
    margin-bottom: 40px;
    padding: 0 0.8rem;
}

.card-title-month{
    color: black;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
}

.card-text-month{
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
}

.card-text-monthstrong {
    font-weight: bold;
}

.card-footer-month{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    gap: 10px;
    padding:10px;

}



.going-button,
.details-button {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: 600;
    background: linear-gradient(135deg, #ffd854, #ffa632);
    border: none;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    bottom: 10px;
}

.going-button:hover,
.details-button:hover {
    background: linear-gradient(135deg, darken(#ffd854, 10%), darken(#ffa632, 10%));
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.going-button:active,
.details-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.going-button:focus,
.details-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 216, 84, 0.5);
}


.myCard-month {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
  }
  
  .title-month {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .innerCard-month {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .myCard-month:hover .innerCard-month {
    transform: rotateY(180deg);
  }
  
  .frontSide-month,
  .backSide-month {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }
  
  .frontSide-month,
  .frontSide-month::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  }
  
  .backSide-month,
  .backSide-month::before {
    background-color: black;
  }
  
  .backSide-month {
    transform: rotateY(180deg);
  }
  
  .frontSide-month::before,
  .backSide-month::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }