body {

    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
    background: linear-gradient(to right, rgb(206, 197, 216), rgb(180, 200, 235))
  }

  img {
    width: 90px; 
    background: transparent;
  }
  .GU {
    font-size: 40px;
    color: purple;
  }

  .loginbtn {
    padding: 8px 20px; 
    size: fixed;
    margin-bottom: 30px;
    max-height: 48px;
  }