.gatherup-link{
  text-shadow: 3px 2px 3px purple, 0 0 2em rgb(235, 230, 235), 0 0 0.2em rgb(206, 203, 206);
  font-weight: 600;
}
.account {
  margin-right: -200px;
  margin-left: 10px;
  min-width: 80px!important;
  max-width: 120px!important; 
}

.custom-bg {
  background-color: rgb(139, 54, 54);
}


.custom-bg .nav-link,
.custom-bg .btn {
  color: white; /* Set the desired color here */
}
.custom-bg .dropdown-item{
  color: black;
}

.custom-bg .nav-link:hover {
  color: purple; /* Set the color for the nav links on hover */
}

.custom-bg .navbar-brand {

  font-size: 22px;
} 
.custom-bg .nav-link:hover {
  color: purple;
}
.custom-bg .d-flex.expanded .form-control {
  flex: 1;
  max-width: 300px;
  transition: max-width 0.3s ease;
}


.custom-bg {
  height: 70px !important;
}

.account:focus{
  max-height: 40px!important;
}

.search-button:focus{
  max-height: 40px!important;

}

.search-icon:focus{
  max-height: 1px!important;

}