.gatherup-link{
  text-shadow: 3px 2px 3px purple, 0 0 1em rgb(235, 230, 235), 0 0 0.2em rgb(206, 203, 206);
  font-weight: 640;

}


.account {
  margin-right: -200px;
  margin-left: 10px;
  min-width: 80px!important;
  max-width: 120px!important; 
}

.custom-bg {
  background-color: rgba(32, 8, 32, 0.3);
}



.custom-bg .nav-link,
.custom-bg .btn {
  color: white; /* Set the desired color here */
}
.custom-bg .dropdown-item{
  color: black;
}

.custom-bg .nav-link:hover {
  color: purple; /* Set the color for the nav links on hover */
}

.custom-bg .navbar-brand {

  font-size: 22px;
} 
.custom-bg .nav-link:hover {
  color: purple;
}
.custom-bg .d-flex.expanded .form-control {
  flex: 1;
  max-width: 300px;
  transition: max-width 0.3s ease;
  
}


.custom-bg {
  height: 70px !important;
}

.account:focus{
  max-height: 40px!important;
}




.d-flex.expanded:focus {
  height: 10px !important;
  max-height: 10px !important;
  transform: none !important;
  box-sizing: border-box !important;
}

.form-control:focus {
  height: 10px !important;
  max-height: 10px !important;
  transform: none !important;
  box-sizing: border-box !important;
}